.screen1__subtitle {
  font-family: 'Playfair Display', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin: 16px 0 39px 185px;
}
